@model MyS3Chat.Models.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/icon-4kb.png" />
</head>
<body>

    <div class="app-body img-responsive">


        <div class="homelogo">
            <center>
                <a href="~/"><img src="~/Content/Images/MyS3Chat13kb.png" class="img-responsive" /></a>
            </center>
        </div>
        <hr />

        <div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                

                @Html.ValidationSummary("", new { @class = "text-danger" })

            


                <div class="sendmail">

                    <h3> Enter your email.</h3>

                    <div class="input-group">
                       @* <span class="input-group-addon" id="sizing-addon1" style="background-color:#0B1E63;color:white;">@@</span>*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email..." })

                        <span class="input-group-btn">
                            @*<button class="btn custombtn-default" type="button" style="color:white;">Submit</button>*@
                            <input type="submit" class="btn custombtn-default" value="Submit" id="submit" />

                        </span>

                    </div>

                </div>



            }
        </div>

    </div>




    @Scripts.Render("~/bundles/jqueryval")



</body>
</html>
